.aside .logo a::before{
    border-top: 4px solid #72b626;
    border-left: 4px solid #72b626;
}

.aside .logo a::after{
    border-right: 4px solid #72b626;
    border-bottom: 4px solid #72b626;
}
.btn{
    box-shadow: inset 0 0 50px rgba(0,0,0,.5);
}

.home .container .type,
.home .container .explore,
.home .about-content .about-text .typing,
.about .about-content .about-text .typing,
.home .contact-info-item .icon .fa,
.contact .contact-info-item .icon .fa,
.blog .blog-item-inner .blog-info .blog-description a,
.blog .blog-item-inner .blog-info .blog-tags a,
.lightbox .lightbox-controls .prev-item .fa,
.lightbox .lightbox-controls .next-item .fa,
.portfolio .portfolio-item .portfolio-info .icon .fa,
body.dark .portfolio .portfolio-filter button.active,
.portfolio .portfolio-filter button.active,
.home .service-item .service-item-inner .icon .fa,
.service .service-item .service-item-inner .icon .fa,
.about .about-content .about-text h3 span,
body.dark .aside .nav li a:hover,
body.dark .aside .nav li a.active,
.aside .nav li a:hover,
.aside .nav li a.active{
    color: #72b626;
}

.bt .liquid,
.home .service-item .service-item-inner:hover .icon,
.blog .blog-item-inner .blog-img .blog-date,
.service .service-item .service-item-inner:hover .icon,
.about .about-content .timeline .circle-dot,
.about .about-content .timeline .timeline-item::before,
.about .about-content .skills .skill-item .progress .progress-in,
.section-title h2::before,
.section-title h2::after,
.aside .nav-toggler span,
.aside .nav-toggler span::before,
.aside .nav-toggler span::after,
.contact .contact-social-links a,
.home .contact-social-links a,
.home .intro .social-links a{
    background-color: #72b626;
}

.portfolio .portfolio-filter button.active{
    border-color: #72b626;
}